/***********************************************************************************************/
/* portfolio /
/***********************************************************************************************/

$portfolio-border:0px;
$over-icon-color:#fff;

.isotope-item{
    overflow: hidden;
    @include border-start($portfolio-border solid #fff);  
    border-bottom: $portfolio-border solid #fff;    
    cursor: pointer;
    @include box-sizing(content-box);

  .work-item{
   	    width: 100%;
        z-index: 45;
        position: relative;
   	    img{
          @include box-shadow(inset 0px -10px 0px #fff);
          width: 100%;
          @if($border-radius!=0) {
            @include border-radius($border-radius);
          }
        }
  }

   .work-info{
     position: absolute; 
     bottom: -82px; 
     opacity: 0;
     width: 100%;
     @include transition(all .2s ease-in);
     z-index: 10;

     .work-teitel{
 	      width: 100%;
 	      display: inline-block;
 	     
 	      p{
 		       font-size: 18px;
 		       font-weight: 700; 
 		       padding-bottom:3px;	
           color: #fff;	
           text-transform: uppercase;
 	      }

 	      span{
           font-size: 14px;
 		       font-weight: 300; 
           color: #fff;
 	      }
     }
  }
}


