/***********************************************************************************************/
/* sidebar*/
/***********************************************************************************************/

.sidebar {
    .widget {
        position: relative;
        background: $widget-bg-color;
        border: 1px solid $border-color;
        padding: 30px;
        margin-bottom: 30px;
        .widget-title {
            margin-bottom: 30px;
        }
    }
}
.widget-content {
    p {
        margin-bottom: 25px;
    }
}