/***********************************************************************************************/
/* Lists */
/***********************************************************************************************/

ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
  li{
    color: $body-text-color;
  }
    
}

ol {
  list-style: decimal;
}

