<div class="demo-main">
  <!-- BIG TITLE HERE -->
  <section class="title_container">
    <div class="page-section-content">
      <div class="container page-section text-center">
        <h2 class="uppercase undertitle">About Me</h2>
        <div class="diamond-line">
          <i class="de-separator"></i>
        </div>
      </div>
    </div>
  </section>
  <!--! BIG TITLE HERE -->

  <!-- SECTION (1) -->
  <section class="section" ng-controller="KnobCtrl">
    <div class="page-section-content">
      <div class="container">
        <!-- PHOTO -->
        <div class=" di_1_of_2 first">
          <div class="diamond-border"></div>
          <img src="images/team/me.jpg" alt="">
        </div>
        <!-- PHOTO -->

        <!-- WHO -->
        <div class=" di_1_of_2">
          <h5 class="uppercase">lorem ipsum</h5>
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit <a data-animated-link="fadeOut" href="#">consequat</a> ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Nec sagittis sem nibh id elit. Aenean sollicitudin, lorem quis bibendum auctor. Nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
          <p>Duis sed odio sit amet nibh vulputate, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

          <div class="double-clear"></div>

          <!-- SKILLS -->
          <div ng-repeat="data in knobData | filter:formatOptions" class="di_1_of_3 {{data.class}}">
            <knob class="dial" knob-data="data.value" knob-options="data.options"></knob>
            <p>{{data.title}}</p>
          </div>
          <!-- SKILLS -->
        </div>
        <!--! WHO -->
      </div>
    </div>
  </section>
  <!--! SECTION (1) -->

  <!-- SECTION (2) -->
  <section class="section section-colored" ng-controller="PortfolioCtrl">
    <!-- WORKS -->
    <div class="page-section-content">
      <div class="container text-center">
        <h2 class=" ">SOME OF MY BEST WORK</h2>
       <div class="diamond-line">
          <i class="de-separator"></i>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>

<!--       <wrap-owlcarousel class="owl-carousel" data-options="{items: 4,margin: 15,nav: false,dots: false,slideSpeed: 500,dotsSpeed: 400,autoplay: true,rtl: true,lazyLoad: true,loop: true,responsiveClass: true}">
        <div owl-carousel-item ng-repeat="work in works" class="isotope-item">
          <div class="work-item">
            <div class="demo-masonry-100"></div>
            <img ng-src="{{work.src_home_small}}" alt="{{work.title}}">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="{{work.src_home_big}}" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>{{work.title}}</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
      </wrap-owlcarousel> -->
    </div>
    <!--! WORKS -->
  </section>
  <!--! SECTION (2) -->

</div>