<!-- ALL CONTENTS -->
<div class="demo-main">
  <!-- BIG TITLE HERE -->
  <section class="title_container">
    <div class="page-section-content">
      <div class="container page-section text-center">
        <h2 class="uppercase undertitle">About Me</h2>
        <div class="diamond-line">
          <i class="de-separator"></i>
        </div>
      </div>
    </div>
  </section>
  <!--! BIG TITLE HERE -->

  <!-- SECTION (1) -->
  <section class="section ">
    <div class="page-section-content">
      <div class="container">
        <!-- PHOTO -->
        <div class=" di_1_of_2 first  ">
          <div class="diamond-border"></div>
          <img src="images/team/me.jpg" alt="">
        </div>
        <!-- PHOTO -->

        <!-- WHO AM I ? -->
        <div class=" di_1_of_2  ">
          <h5 class="uppercase">WHO AM I ?</h5>
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit <a data-animated-link="fadeOut" href="#">consequat</a> ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Nec sagittis sem nibh id elit. Aenean sollicitudin, lorem quis bibendum auctor. Nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
          <br>
          <p>Duis sed odio sit amet nibh vulputate, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

          <div class="double-clear"></div>

          <!-- SKILL (1) -->
          <div class=" di_1_of_3 first">
            <div class="circular-bar">
              <input type="text" class="dial" data-fgColor="#ff5733" data-width="120" data-height="120" value="90">
              <div class="circular-bar-content">
                <label></label>
              </div>
              <strong>Photoshop</strong>
            </div>
          </div>
          <!-- SKILL (1) -->

          <!-- SKILL (2) -->
          <div class=" di_1_of_3 ">
            <div class="circular-bar">
              <input type="text" class="dial" data-fgColor="#ff5733" data-width="120" data-height="120" value="70">
              <div class="circular-bar-content">
                <label></label>
              </div>
              <strong>InDesign</strong>
            </div>
          </div>
          <!-- SKILL (2) -->

            <!-- SKILL (3) -->
          <div class=" di_1_of_3 ">
            <div class="circular-bar">
              <input type="text" class="dial" data-fgColor="#ff5733" data-width="120" data-height="120" value="90">
              <div class="circular-bar-content">
                <label></label>
              </div>
              <strong>ILLustrator</strong>
            </div>
          </div>
          <!-- SKILL (3) -->
        </div>
        <!--! WHO AM I ? -->
      </div>
    </div>
  </section>
  <!--! SECTION (1) -->

  <!-- SECTION (2) -->
  <section class="section section-colored" data-bg="#faf9f5">
    <!-- WORKS -->
    <div class="page-section-content">
      <div class="container text-center ">
        <h2 class=" ">SOME OF MY BEST WORK</h2>
       <div class="diamond-line">
          <i class="de-separator"></i>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>

      <div id="owl" class="owl-carousel" data-owl-number="4" data-owl-margin="15" data-owl-autoPlay="true" data-owl-mousewheel="true" data-owl-loop="true" data-owl-navigation="false" data-owl-pagination="false">
        <!-- WORK (1) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-1.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-1@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (1) -->

        <!-- WORK (2) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-2.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-2@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (2) -->

        <!-- WORK (3) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-3.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-3@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (3) -->

        <!-- WORK (4) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-4.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-4@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (4) -->

        <!-- WORK (5) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-5.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-5@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (5) -->

        <!-- WORK (6) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-6.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-6@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (6) -->

        <!-- WORK (7) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-1.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-1@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (7) -->

        <!-- WORK (8) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-2.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-2@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (8) -->

        <!-- WORK (9) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-3.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-3@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (9) -->

        <!-- WORK (10) -->
        <div class="isotope-item">
          <div class="work-item ">
            <div class="demo-masonry-100"></div>
            <img src="images/works/work-4.jpg" alt="Brand Consulting">
            <div class="link_overlay">
              <ul class="icons-media">
                <li><a data-animated-link="fadeOut" href="images/works/work-4@2x.jpg" data-lightbox="image"><i class="fa fa-search"></i></a></li>
              </ul>
              <div class="work-info">
                <div class="work-teitel text-center">
                  <p>front-end</p>
                </div>
              </div>
              <span class="diamond-hover"></span>
            </div>
          </div>
        </div>
        <!--! WORK (10) -->
      </div>
    </div>
    <!--! WORKS -->
  </section>
  <!--! SECTION (2) -->

</div>
<!--! ALL CONTENTS -->