<!-- SLIDER -->
<!--div class="tp-banner-container">
    <div class="tp-banner fullscreen">
        <ul class="container">
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <div class="pattern-slider"></div>
                <img alt="slidebg1" src="images/slides/index-1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class=" uppercase tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="center" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <h1 class="undertitle"><span class="theme-color">ready</span> Made <br>templates</h1>
                </div>

                <div class="undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="340" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <p class="app undertitle hide-on-m">160+ pages and ready made templates to choose from
                        <br>and more comming soon .</p>
                </div>

                <div class="tp-caption customout skewfromrightshort randomrotateout 
            tp-resizeme rs-parallaxlevel-2" data-x="550" data-y="200" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/layer-4.png">
                </div>

                <div class="tp-caption lft rs-parallaxlevel-1 skewfromrightshort randomrotateout rs-parallaxlevel-1" data-x="620" data-y="162" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1100" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/layer-3.png">
                </div>

                <div class="tp-caption lft rs-parallaxlevel-2 skewfromrightshort randomrotateout" data-x="670" data-y="132" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/layer-2.png">
                </div>

                <div class="tp-caption lft rs-parallaxlevel-1 skewfromrightshort randomrotateout" data-x="720" data-y="100" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/layer-1.png">
                </div>
            </li>

            <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <div class="pattern-slider"></div>
                <img alt="slidebg1" src="images/slides/index-1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <h1 class="uppercase undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="center" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
            <span class="theme-color">build </span>your<br>own theme
        </h1>
                <div class="undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="340" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <p class="app undertitle hide-on-m">Okab come with a great framework for faster and
                        <br>easier way to create your own theme.</p>
                </div>
                <div class="tp-caption lft customout " data-x="300" data-y="100" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/arrow.png">
                </div>

                <div class="tp-caption lft customout " data-x="600" data-y="80" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/browser-1.png">
                </div>

                <div class="tp-caption lft customout " data-x="639" data-y="148" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1100" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/l-1.jpg">
                </div>

                <div class="tp-caption lft customout" data-x="756" data-y="148" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/l-2.jpg">
                </div>

                <div class="tp-caption lft customout" data-x="639" data-y="203" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/l-3.jpg">
                </div>

                <div class="tp-caption lft customout" data-x="639" data-y="360" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1400" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/l-4.jpg">
                </div>

                <div class="tp-caption lft customout" data-x="800" data-y="360" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/l-4.jpg">
                </div>
                <div class="tp-caption lft customout" data-x="961" data-y="360" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/l-4.jpg">
                </div>
            </li>

            <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <div class="pattern-slider"></div>
                <img alt="slidebg1" src="images/slides/index-1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <h1 class="uppercase undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="center" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
            responsive <span class="theme-color">&</span><br>retina ready
        </h1>
                <div class="tp-caption lft customout " data-x="650" data-y="50" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/imac.png">
                </div>

                <div class="tp-caption lft customout " data-x="1000" data-y="325" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1100" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/pad.png">
                </div>

                <div class="tp-caption lft customout" data-x="980" data-y="420" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/phone.png">
                </div>

                <div class="tp-caption lft customout" data-x="685" data-y="130" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/image-1.png">
                </div>
            </li>

            <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <div class="pattern-slider"></div>
                <img alt="slidebg1" src="images/slides/index-3.jpg" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                <h1 class="uppercase undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="center" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
        <span class="theme-color">built</span> with sass <br> and grunt </h1>

                <div class="undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="0" data-y="340" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <p class="app undertitle hide-on-m">Very well developed workflow to let you customize everything with
                        <br>just a fiew seccounds</p>
                </div>

                <div class="tp-caption lft customout " data-x="700" data-y="center" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/sass.png">
                </div>

                <div class="tp-caption lft customout " data-x="1000" data-y="center" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="750" data-start="1100" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                    <img alt="" src="images/slides/grunt.png">
                </div>
            </li>

        </ul>
    </div>
</div-->
<!--! SLIDER -->

<!-- ALL CONTENTS -->
<div class="demo-main">
  <!-- FEATURES SECTION -->
  <section class="section section-colored" data-bg="#faf9f5" id="features">
    <div class="page-section-content">
      <div class="container text-center">
        <!-- TITLE -->
        <h2 class="uppercase" data-animate="fadeInDown" data-delay="0">features</h2>
        <div class="diamond-line" data-animate="fadeIn" data-delay="0">
          <i class="de-separator"></i>
        </div>
        <!--! TITLE -->
        <div class="clear-section"></div>

        <!-- ICON (1) -->
        <div class=" di_1_of_3 services box-circle text-center first" data-animate="fadeInUp" data-delay="0">
          <header role="banner">
            <i class="de-smartphone icon-box-medium"><span class="diamond-hover"></span></i>
            <h5>MOBILE OPTIMIZED</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (1) -->

        <!-- ICON (2) -->
        <div class=" di_1_of_3 services box-circle text-center" data-animate="fadeInUp" data-delay="100">
          <header role="banner">
            <i class="de-computer icon-box-medium"><span class="diamond-hover"></span></i>
            <h5>E-COMMERCE READY</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (2) -->

        <!-- ICON (3) -->
        <div class=" di_1_of_3 services box-circle text-center" data-animate="fadeInUp" data-delay="200">
          <header role="banner">
            <i class="de-control icon-box-medium"><span class="diamond-hover"></span></i>
            <h5>FAST LOADING</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (3) -->

        <div class="clear-section"></div>

        <!-- ICON (4) -->
        <div class=" di_1_of_3 services box-circle text-center first" data-animate="fadeInUp" data-delay="0">
          <header role="banner">
            <i class="de-design-cup icon-box-medium"><span class="diamond-hover"></span></i>
            <h5>FREE UPDATES &amp; SUPPORT</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (4) -->

        <!-- ICON (5) -->
        <div class=" di_1_of_3 services box-circle text-center" data-animate="fadeInUp" data-delay="100">
          <header role="banner">
            <i class="de-document icon-box-medium"><span class="diamond-hover"></span></i>
            <h5>FREE UPDATES &amp; SUPPORT</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (5) -->

        <!-- ICON (6) -->
        <div class=" di_1_of_3 services box-circle text-center" data-animate="fadeInUp" data-delay="200">
          <header role="banner">
            <i class="de-network icon-box-medium"><span class="diamond-hover"></span></i>
            <h5>FREE UPDATES &amp; SUPPORT</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (6) -->
      </div>
    </div>
  </section>
  <!--! FEATURES SECTION -->

  <!-- QUOTE SECTION -->
  <section class="section " id="quote">
    <div class="page-section-content">
      <div class="background-image-hide">
        <img class="background-image" alt="Background Image" src="images/sections/quote-bg.jpg">
      </div>

      <div class="demo-section-cover"></div>

      <div class="container page-section text-center" data-animate="bounceIn" data-delay="0">
        <div class="diamond-line quote">
            <i class="fa fa-quote-left"></i>
        </div>

        <div class="cl_2 first"></div>

        <div class="cl_8" data-animate="bounceIn" data-delay="0">
          <div class="owl-carousel">
            <!-- QUOTE (1) -->
            <div class="demo-testimonial quote-style">
              <blockquote>
                <p>A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutio­nary strategist.</p>
                <span class="demo-testimonial-meta"><strong>-Buckminster Fuller-</strong></span>
              </blockquote>
            </div>
            <!--! QUOTE (1) -->

            <!-- QUOTE (2) -->
            <div class="demo-testimonial quote-style">
              <blockquote>
                <p>A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutio­nary strategist.</p>
                <span class="demo-testimonial-meta"><strong>-Buckminster Fuller-</strong></span>
              </blockquote>
            </div>
            <!--! QUOTE (2) -->
          </div>

          <wrap-owlcarousel class="owl-carousel" data-options="{items: 1,margin: 0,nav: false,dots: false,slideSpeed: 500,dotsSpeed: 400,autoplay: false,rtl: true,lazyLoad: true,loop: true,responsiveClass: true,responsive: {250: {items: 1},480: {items: 1},768: {items: 1},989: {items: 1},1199: {items: 1}}}">  
            <div class="demo-testimonial quote-style">
              <blockquote>
                <p>A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutio­nary strategist.</p>
                <span class="demo-testimonial-meta"><strong>-Buckminster Fuller-</strong></span>
              </blockquote>
            </div>

            <div class="demo-testimonial quote-style">
              <blockquote>
                <p>A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutio­nary strategist.</p>
                <span class="demo-testimonial-meta"><strong>-Buckminster Fuller-</strong></span>
              </blockquote>
            </div>
          </wrap-owlcarousel>  
        </div>
        <div class="cl_2"></div>
      </div>
    </div>
  </section>
  <!-- QUOTE SECTION -->

    <div zum-waypoint="waypoints" down="flags.on" offset="100%" class="show animated" ng-class="{bounceIn: waypoints.flags.on}" style="height:100px;background:red"></div>
    <div ng-class="{sticky: waypoints.flags.on}"></div>

  <!-- WORKS SECTION -->
  <section class="section" id="works" ng-controller="PortfolioCtrl">
    <div class="page-section-content">
      <div class="container text-center ">
        <!-- TITLE -->
        <h2 class="uppercase" data-animate="fadeInDown" data-delay="0"><span class="theme-color">28 </span>portfolio layouts</h2>
        <div class="diamond-line">
          <i class="de-separator"></i>
        </div>
        <p data-animate="fadeInUp" data-delay="100">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.<br>Aenean sollicitudin gravida nibh vel velit.</p>
        <!--! TITLE -->

        <div class="clear-section"></div>

        <!-- FILTER -->
        <nav role="navigation" class="filters-box filters" id="filters" data-animate="fadeInDown" data-delay="0">
          <ul>
            <li><a ng-click="filters.category = ''">All</a></li>
            <li><a ng-click="filters.category = 'Graphics'">Graphics</a></li>
            <li><a ng-click="filters.category = 'Prints'">Prints</a></li>
            <li><a ng-click="filters.category = 'Logos'">Logos</a></li>
          </ul>
        </nav>
        <!--! FILTER -->

        <div masonry class="container isotope column_3 with-margin">
          <div class="boxed-portfolio" data-animate="fadeInUp" data-delay="0">
            <!-- WORK -->
            <div ng-repeat="work in works | filter:filters | limitTo:6" class="masonry-brick isotope-item di_1_of_3 {{work.category}}">
              <div class="work-item">
                <div class="demo-masonry-100"></div>
                <img ng-src="{{work.src_home_small}}" alt="{{work.title}}">
                <div class="link_overlay">
                  <ul class="icons-media">
                    <li><a data-animated-link="fadeOut" href="{{work.src_home_big}}" data-lightbox="image"><i class="fa fa-search"></i></a></li>
                  </ul>
                  <div class="work-info">
                    <div class="work-teitel text-center">
                      <p>{{work.title}}</p>
                    </div>
                  </div>
                  <span class="diamond-hover"></span>
                  </div>
              </div>
            </div>
            <!--! WORK -->
          </div>
        </div>

        <div class="double-clear"></div>

        <!-- BUTTON -->
        <a data-animated-link="fadeOut" class="no-rounded uppercase fill small button" data-animate="fadeInUp" data-delay="0" href="#portfolio">show more</a>
        <!--! BUTTON -->
      </div>
    </div>
  </section>
  <!--! WORKS SECTION -->
</div>
<!--! ALL CONTENTS -->