<div class="demo-main">
  <!-- SLIDER SECTION -->
  <section class="section section-colored" id="slider" ng-controller="SliderCtrl">
    <slider images="images" />
  </section>
  <!--! SLIDER SECTION -->
  <!-- FEATURES SECTION -->
  <section class="section section-colored" id="features">
    <div class="page-section-content">
      <div class="container text-center">
        <!-- TITLE -->

        <h2 zum-waypoint="waypoints" down="title.on" offset="100%" class="show animated uppercase" ng-class="{fadeInDown: waypoints.title.on}">services</h2>
        <div zum-waypoint="waypoints" down="title.on" offset="100%" class="show animated diamond-line" ng-class="{fadeIn: waypoints.title.on}">
          <i class="de-separator"></i>
        </div>
        <!--! TITLE -->
        <div class="clear-section"></div>

        <!-- ICON (1) -->
        <div zum-waypoint="waypoints" down="services.on" offset="100%" class="di_1_of_3 services box-circle text-center first show animated" ng-class="{fadeInUp: waypoints.services.on}">
          <header role="banner">
            <i class="de-smartphone icon-box-medium"><span class="diamond-hover"></span></i>
            <h5 class="uppercase">service 1</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (1) -->

        <!-- ICON (2) -->
        <div zum-waypoint="waypoints" down="services.on" offset="100%" class="di_1_of_3 services box-circle text-center show animated" ng-class="{fadeInUp: waypoints.services.on}">
          <header role="banner">
            <i class="de-computer icon-box-medium"><span class="diamond-hover"></span></i>
            <h5 class="uppercase">service 2</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (2) -->

        <!-- ICON (3) -->
        <div zum-waypoint="waypoints" down="services.on" offset="100%" class="di_1_of_3 services box-circle text-center show animated" ng-class="{fadeInUp: waypoints.services.on}">
          <header role="banner">
            <i class="de-control icon-box-medium"><span class="diamond-hover"></span></i>
            <h5 class="uppercase">service 3</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (3) -->

        <div class="clear-section"></div>

        <!-- ICON (4) -->
        <div zum-waypoint="waypoints" down="services.on" offset="100%" class="di_1_of_3 services box-circle text-center first show animated" ng-class="{fadeInUp: waypoints.services.on}">
          <header role="banner">
            <i class="de-design-cup icon-box-medium"><span class="diamond-hover"></span></i>
            <h5 class="uppercase">service 4</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (4) -->

        <!-- ICON (5) -->
        <div zum-waypoint="waypoints" down="services.on" offset="100%" class="di_1_of_3 services box-circle text-center show animated" ng-class="{fadeInUp: waypoints.services.on}">
          <header role="banner">
            <i class="de-document icon-box-medium"><span class="diamond-hover"></span></i>
            <h5 class="uppercase">service 5</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (5) -->

        <!-- ICON (6) -->
        <div zum-waypoint="waypoints" down="services.on" offset="100%" class="di_1_of_3 services box-circle text-center show animated" ng-class="{fadeInUp: waypoints.services.on}">
          <header role="banner">
            <i class="de-network icon-box-medium"><span class="diamond-hover"></span></i>
            <h5 class="uppercase">service 6</h5>
          </header>
          <p class="withpadding">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
        </div>
        <!--! ICON (6) -->
      </div>
    </div>
  </section>
  <!--! FEATURES SECTION -->

  <!-- QUOTE SECTION -->
  <section class="section" id="quote">
    <div class="page-section-content">
      <div class="demo-section-cover"></div>

      <div zum-waypoint="waypoints" down="testimonials.on" offset="100%" class="container page-section text-center show animated" ng-class="{bounceIn: waypoints.testimonials.on}">
        <div class="diamond-line quote">
          <i class="fa fa-quote-left"></i>
        </div>

        <div class="cl_2 first"></div>

        <div zum-waypoint="waypoints" down="testimonial.on" offset="100%" class="cl_8 show animated" ng-class="{bounceIn: waypoints.testimonial.on}">
          <div class="demo-testimonial quote-style">
            <blockquote>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
              <span class="demo-testimonial-meta"><strong>-Ciceron-</strong></span>
            </blockquote>
          </div>
        </div>
        <div class="cl_2"></div>
      </div>
    </div>
  </section>
  <!--! QUOTE SECTION -->

  <!-- WORKS SECTION -->
  <section class="section" id="works" ng-controller="PortfolioCtrl">
    <div class="page-section-content">
      <div class="container text-center">
        <!-- TITLE -->
        <h2 zum-waypoint="waypoints" down="works.on" offset="100%" class="uppercase show animated" ng-class="{fadeInDown: waypoints.works.on}">works</h2>
        <div class="diamond-line">
          <i class="de-separator"></i>
        </div>
        <p zum-waypoint="waypoints" down="works.on" offset="100%" class="show animated" ng-class="{fadeInUp: waypoints.works.on}">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.<br>Aenean sollicitudin gravida nibh vel velit.</p>
        <!--! TITLE -->

        <div class="clear-section"></div>

        <!-- FILTER -->
        <nav zum-waypoint="waypoints" down="filters.on" offset="100%" role="navigation" class="filters-box filters show animated" id="filters" ng-class="{fadeInDown: waypoints.filters.on}">
          <ul>
            <li><a ng-click="filters.category = ''">All</a></li>
            <li><a ng-click="filters.category = 'E-commerce'">E-commerce</a></li>
            <li><a ng-click="filters.category = 'Blog'">Blog</a></li>
            <li><a ng-click="filters.category = 'App'">Apps</a></li>
          </ul>
        </nav>
        <!--! FILTER -->

        <div masonry class="container isotope column_3 with-margin">
          <div zum-waypoint="waypoints" down="work.on" offset="100%" class="boxed-portfolio show animated" ng-class="{fadeInUp: waypoints.work.on}">
            <!-- WORK -->
            <div ng-repeat="work in works | filter:filters | limitTo:6" class="masonry-brick isotope-item di_1_of_3 {{work.category}}">
              <div class="work-item">
                <div class="demo-masonry-100"></div>
                <img ng-src="{{work.src_home_small}}" alt="{{work.title}}">
                <div class="link_overlay">
                  <ul class="icons-media">
                    <li><a data-animated-link="fadeOut" href="{{work.src_home_big}}" data-lightbox="image"><i class="fa fa-search"></i></a></li>
                  </ul>
                  <div class="work-info">
                    <div class="work-teitel text-center">
                      <p>{{work.title}}</p>
                    </div>
                  </div>
                  <span class="diamond-hover"></span>
                  </div>
              </div>
            </div>
            <!--! WORK -->
          </div>
        </div>

        <div class="double-clear"></div>

        <!-- BUTTON -->
        <a zum-waypoint="waypoints" down="button.on" offset="100%" data-animated-link="fadeOut" class="no-rounded uppercase fill small button show animate" ng-class="{fadeInUp: waypoints.button.on}" href="#portfolio">view more</a>
        <!--! BUTTON -->
      </div>
    </div>
  </section>
  <!--! WORKS SECTION -->
</div>