<div class="slider">
  <nav class="nav">
    <div class="wrapper">
      <ul class="dots">
        <li class="dot" ng-repeat="image in images">
          <a ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{image.description}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <img ng-repeat="image in images" class="slide nonDraggableImage" ng-swipe-right="prevSlide()" ng-swipe-left="nextSlide()" ng-show="isCurrentSlideIndex($index)" ng-src="{{image.src}}">
  <a class="arrow prev" ng-click="prevSlide()"></a>
  <a class="arrow next" ng-click="nextSlide()"></a>
</div>