//circular
.circular-bar{
  text-align: center;
  position: relative;
  .circular-bar-content{
    position: relative;
    text-align: center;    
    label{
      display: block;
      font-weight: 400;
      @include font-size(18,20);
    }
  }
  strong{
    margin-top: -15px;
      display: block;
      font-weight: 400;
      @include font-size(14,24);
    }
}
